<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.sway2automation.test.FramesandWindowsTest"/>
      <class name="com.sway2automation.test.RegistrationTest"/>
      <class name="com.sway2automation.test.DropdownTest"/>
      <class name="com.sway2automation.test.AlertTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
